doctype html

html.no-js

    include includes/head

    body
        svg(xmlns="http://www.w3.org/2000/svg", style="display: none")
            symbol(id="icon-test", viewBox="0 0 100 100")
                path(d="M87.938,64.518 L81.259,95.667 L76.759,95.667 Q74.157,87.37 68.427,79.565 Q62.696,71.761 55.454,66.698 Q50.673,74.151 44.767,80.058 Q38.86,85.964 32.216,90.183 Q25.571,94.401 18.399,96.722 Q11.227,99.042 4.337,99.042 Q2.438,99.042 0.259,98.69 L2.509,93.347 Q6.235,93.768 8.134,93.768 Q27.399,93.768 42.446,78.722 Q45.54,75.628 48.739,71.585 Q51.938,67.542 55.384,62.128 Q63.048,50.104 68.462,39.628 L75.071,26.901 Q82.876,11.925 87.095,6.616 Q91.313,1.308 95.462,1.308 Q96.798,1.308 97.817,1.87 Q98.837,2.433 99.399,3.522 Q99.962,4.612 99.962,5.948 Q99.962,6.933 99.61,8.831 Q99.259,11.362 99.188,11.573 L88.431,62.128 L93.423,62.128 L92.931,64.518 z M81.329,64.518 L56.79,64.518 L57.071,64.729 Q63.329,69.511 67.829,74.573 Q72.329,79.636 76.618,86.667 z M58.688,62.128 L81.821,62.128 L91.806,14.315 Q92.298,11.995 92.298,11.925 Q92.72,10.518 92.72,9.393 Q92.72,7.636 91.173,7.636 Q89.274,7.636 86.602,11.643 Q83.931,15.651 77.321,28.097 Q76.337,29.995 73.313,35.761 Q70.782,40.331 70.571,40.823 L63.821,53.128 Q59.602,60.792 58.688,62.128 z")

        .main-wrapper
            include includes/header

            main.content
                .wrapper
                    h1 Andylight - шаблон для быстрого старта верстки

                    h2 Пример иконки SVG

                    p
                        svg.icon-test
                            use(xlink:href="#icon-test")

        include includes/footer
