@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic)

@font-face
    font-family: 'FontName'
    src: url('../../fonts/font-name.eot')
    src: url('../../fonts/font-name.eot?#iefix') format('embedded-opentype'), url('../../fonts/font-name.woff2') format('woff2'), url('../../fonts/font-name.woff') format('woff'), url('../../fonts/font-name.ttf')  format('truetype'), url('../../fonts/font-name.svg#FontName') format('svg')
