head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Your title
    meta(name="keywords", content="")
    meta(name="description", content="")

    meta(name="theme-color", content="#ffffff")
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
    //-link(rel="apple-touch-icon-precomposed", href="apple-touch-icon-precomposed.png")
    //-link(rel="icon", sizes="any", mask, href="your.svg")

    //-link(href="css/libs.min.css", rel="stylesheet")
    link(href="css/main.min.css", rel="stylesheet")
