doctype html

html.no-js

  include includes/head

  body
    include includes/header

    main.content
      .wrapper
        h1 Andylight - шаблон для быстрого старта верстки

    include includes/footer
